<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="/" rel="nofollow">Home</a>
                <span></span> <a href="/shop">Shop</a>
                <span></span> Wishlist
            </div>
        </div>
    </div>
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table shopping-summery text-center">
                            <thead>
                                <tr class="main-heading">
                                    <th scope="col" colspan="2">Product</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Stock Status</th>
                                    <th scope="col">Action</th>
                                    <th scope="col">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each WishListProd}}
                                <tr>
                                    <td class="image product-thumbnail"><a
                                            href="/productDetails/{{this.productId}}"><img
                                                src="/images/products/{{this.productImage.[0]}}" alt="#"></a></td>
                                    <td class="product-des product-name">
                                        <h5 class="product-name"><a
                                                href="/productDetails/{{this.productId}}">{{this.productName}}</a></h5>
                                        {{!-- <p class="font-xs">Maboriosam in a tonto nesciung eget<br> distingy
                                            magndapibus.
                                        </p> --}}
                                    </td>
                                    <td class="price" data-title="Price"><span>₹{{this.productPrice}} </span></td>
                                    <td class="text-center" data-title="Stock">
                                        <span class="color3 font-weight-bold">{{this.productQuantity}}</span>
                                    </td>
                                    <td class="text-right" data-title="Cart">
                                        <button class="btn btn-sm"><i class="fi-rs-shopping-bag mr-5"></i>Add to
                                            cart</button>
                                    </td>
                                    <td class="rem action" data-whishlist-id="{{this._id}}"
                                        data-product-id="{{this.productId}}" data-title="Remove"><a href="#"><i
                                                class="fi-rs-trash"></i></a></td>
                                </tr>
                                {{/each}}

                                {{!-- <tr>
                                    <td class="image"><img src="assets/imgs/shop/product-3-1.jpg" alt="#"></td>
                                    <td class="product-des">
                                        <h5 class="product-name"><a href="shop-product-right.html">Amazon Brand - Daily
                                                Ritual Women's Jersey </a></h5>
                                        <p class="font-xs">Erat amet et et amet diam et et.<br> Justo amet at dolore
                                        </p>
                                    </td>
                                    <td class="price" data-title="Price"><span>₹62.00 </span></td>
                                    <td class="text-center" data-title="Stock">
                                        <span class="text-danger font-weight-bold">Out of stock</span>
                                    </td>
                                    <td class="text-right" data-title="Cart">
                                        <button class="btn btn-sm btn-secondary"><i
                                                class="fi-rs-headset mr-5"></i>Contact Us</button>
                                    </td>
                                    <td class="action" data-title="Remove"><a href="#"><i class="fi-rs-trash"></i></a>
                                    </td>
                                </tr> --}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>


    $(document).ready(function () {
        $('.rem').click(function () {
            var id = $(this).data('product-id');
            var wishId = $(this).data('whishlist-id'); // Corrected variable name to wishId

            // Store reference to $(this) in a variable for use inside AJAX success and error callbacks
            var $this = $(this);

            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#088178",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                if (result.isConfirmed) {
                     $.ajax({
                type: 'POST',
                url: '/removeFromWishList',
                contentType: 'application/json',
                data: JSON.stringify({ id: id, wishId: wishId }),
                success: function (productData) {
                    console.log("Product removed from wishlist successfully");
                    // If you want to remove the row from the table upon successful removal
                    $this.closest('tr').remove(); // Use $this instead of $(this)
                    // swal("Removed from wishlist", "The product has been removed from your wishlist.", "success");
                    {
                        Swal.fire({
                                title: 'Removed!',
                                text: 'Product Succesfully Removed from Wishlist!!!',
                                icon: 'success',
                                confirmButtonText: 'Cool'
                            })
                    }

                },
                error: function (xhr, status, error) {
                    console.error("Error removing product from wishlist:", error);
                    swal("Error", "Something went wrong. Please try again later.", "error");
                }
            });
                    Swal.fire({
                        title: "Deleted!",
                        text: "Your file has been deleted.",
                        icon: "success"
                    });
                }
            });

           
        });
    });






</script>